<div class="d-inline-block{% if delete_button_class is defined %} w-100 m-0 p-0{% endif %}">
    <form method="post" action="{{ path('mechanic_delete', {'id': mechanic.id}) }}" onsubmit="return confirm('item id : {{ mechanic.id }}\nAre you sure you want to delete this item?');">

        {% for key, role in app.user.roles %}
            <input type="hidden" name="roles[{{ key }}]" value="{{ csrf_token(role) }}">
        {% endfor %}

        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mechanic.id) }}">
        <button class="btn btn-danger {{ delete_button_class|default('') }}" title="Delete">
            <i class="fa fa-trash"></i> {{ delete_button_label|default('Delete') }}
        </button>
    </form>
</div>
