{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>CategoryId</th>
                <td>{{ category.categoryId }}</td>
            </tr>
            
            <tr>
                <th>Items numbers</th>
                <td>{{ category.games|length }}</td>
            </tr>
        </tbody>
    </table>
    

    {% set name = category.name|lower|replace({' ': '','/':''}) %}
    <a href="{{ path('category_index') }}" title="Categories list" class="btn btn-inverse"><i class="fa fa-list"></i> Categories list</a>
    {% if is_granted('ROLE_STOREKEEPER') %}
    <a href="{{ path('category_edit', {'id': category.id, 'name':name}) }}" class="btn btn-primary">edit</a>

    {{ include('category/_delete_form.html.twig') }}
    {% endif %}
    
    
    {% if category.games|length %}
    <h4>Games list</h4>
    <table class="table">
        <thead>
            <tr>
                <th class="inverse">Actions</th>
                <th class="inverse">Id</th>
                <th class="inverse">Published</th>
                <th class="inverse">Name</th>
                <th class="inverse">Price</th>
                <th class="inverse">MSRP</th>
            </tr>
        </thead>
        <tbody>
            {% for game in category.games %}
            <tr id="game-{{ game.id }}" class="game-info">
                <td>
                    <div class="row">
                        <div class="col-sm-2 col-6  m-0 px-1">
                            <small>
                                <a href="{{ path('game_show', {'id': game.id, 'name':game.name}) }}"
                                   title="Show" class="btn btn-info w-lg-50 w-100"
                                ><i class="fas fa-info"></i></a>
                            </small>
                        </div>
                        <div class="col-sm-2 col-6 m-0 px-1">
                            <small>
                                <a href="#" data-value="{{ game.id }}"
                                   title="Cart" class="btn btn-warning w-lg-50 w-100 js-add-to-cart"
                                ><i class="fa fa-cart-plus" aria-hidden="true"></i>
                                </a>
                            </small>
                        </div>
                        <div class="col-sm-2 col-6 m-0 px-1">
                            <small>
                                <a href="{{ path('game_edit', {'id': game.id, 'name':game.name}) }}"
                                   title="Edit" class="btn btn-primary w-lg-50 w-100"
                                ><i class="fas fa-edit"></i></a>
                            </small>
                        </div>
                        {#                        {% if is_granted("ROLE_ADMIN") %}#}
                        <div class="col-sm-2 col-6 m-0 px-1">
                            <small>
                                {{ include('game/_delete_form.html.twig',
                                    {
                                        'game_delete_button_label': ' ',
                                        'game_delete_button_class':'w-lg-50 w-100'
                                    }
                                ) }}
                            </small>
                        </div>
                        <div class="col-sm-2 col-6 m-0 px-1">
                            <small>
                                {{ include('game/_publish_form.html.twig',
                                    {
                                        'publish_button_label': ' ',
                                        'publish_button_class':'w-lg-50 w-100'
                                    }
                                ) }}
                            </small>
                        </div>
                        {#                        {% endif %}#}

                    </div>
                </td>
                <td class="js-id">{{ game.id }}</td>
                <td class="js-name">{{ game.published?'Yes':'No' }}</td>
                <td class="js-name">{{ game.name }}</td>
                
                {% set newPrice = game.price*(1+game.discount) %}
                <td class="js-price" data-value="{{ newPrice |round(2, 'common') }}">
                    {% if game.discount %}
                        <span class="border border-warning">{{ newPrice |round(2, 'common') }}$</span>
                        <br/>
                        <small>
                            <small>
                            <span class="btn-outline-warning">
                                <span style="text-decoration: line-through;">{{ game.price }}$</span>
                            </span>
                                <span class="badge badge-warning">{{ game.discount*100 }}%</span>
                            </small>
                        </small>

                    {% else %}
                        {{ game.price }}$
                    {% endif %}

                </td>
                
                <td>{{ game.msrp }}</td>
            </tr>
            {% endfor %}
            
        </tbody>
    
    </table>
    {% endif %}
    
{% endblock %}
