{# this tag only applies to the forms defined in this template #}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="container">

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-inverse">{{ game_form_button_label|default('Save') }}</button>
    {{ form_end(form) }}

    <div class="my-3">
        <a href="{{ path('game_index') }}" class="btn btn-inverse"><i class="fa fa-list"></i> Games list</a>

        {% if is_granted("ROLE_ADMIN") and game.id is defined and game.id>0 %}
            {{ include('game/_delete_form.html.twig') }}
        {% endif %}
    </div>
</div>

