{% extends 'base.html.twig' %}


{% block body %}

    <h2>
        Details
    </h2>

    <table id="gameTable" class="table">
        <tbody>
            {% if is_granted("ROLE_STOREKEEPER")%}
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ game.published ? 'Yes' : 'No' }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Name</th>
                <td>{{ game.name }}</td>
            </tr>
            <tr>
                <th>YearPublished</th>
                <td>{{ game.yearPublished }}</td>
            </tr>
            <tr>
                <th>MinPlayers</th>
                <td>{{ game.minPlayers }}</td>
            </tr>
            <tr>
                <th>MaxPlayers</th>
                <td>{{ game.maxPlayers }}</td>
            </tr>
            <tr>
                <th>MinPlaytime</th>
                <td>{{ game.minPlaytime ? game.minPlaytime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>MaxPlaytime</th>
                <td>{{ game.maxPlaytime ? game.maxPlaytime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>MinAge</th>
                <td>{{ game.minAge }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ game.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ game.price }}</td>
            </tr>

            {% if is_granted("ROLE_STOREKEEPER") %}
            <tr>
                <th>Msrp</th>
                <td>{{ game.msrp }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Discount</th>
                <td>{{ game.discount }}</td>
            </tr>
            <tr>
                <th>Artists</th>
                <td>{{ game.artists ? game.artists|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Names</th>
                <td>{{ game.names ? game.names|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Publishers</th>
                <td>{{ game.publishers ? game.publishers|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>RulesUrl</th>
                <td>{{ game.rulesUrl }}</td>
            </tr>
            <tr>
                <th>OfficialUrl</th>
                <td>{{ game.officialUrl }}</td>
            </tr>
            <tr>
                <th>GameId</th>
                <td>{{ game.gameId }}</td>
            </tr>

                <th>WeightAmount {{ game.weightUnits }}</th>
                <td>{{ game.weightAmount }}</td>
            </tr>
            <tr>
                <th>
                    <span class="d-inline-block">
                    Sizes h
                    <span style="font-size: .7rem;">
                        <i class="fas fa-times"></i>
                    </span>
                    w
                    <span style="font-size: .7rem;">
                        <i class="fas fa-times"></i>
                    </span>
                    d
                    ({{ game.sizeUnits }})
                </span>
                </th>
                <td>
                    {% if game.sizeUnits %}
                        <span class="d-inline-block">
                        {{ (game.sizeHeight) }}
                    <span style="font-size: .7rem;">
                        <i class="fas fa-times"></i>
                    </span>
                    {{ game.sizeWidth }}
                    <span style="font-size: .7rem;">
                        <i class="fas fa-times"></i>
                    </span>
                    {{ game.sizeDepth }}
                    </span>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>PrimaryPublisher</th>
                <td>{{ game.primaryPublisher }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('game_index') }}" class="btn btn-inverse"><i class="fas fa-list"></i> back to list</a>

    {% if is_granted("ROLE_STOREKEEPER")%}
    <a href="{{ path('game_edit', {'id': game.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</a>

    {{ include('game/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}

{% block javascripts %}
<script>
    // https://datatables.net/examples/basic_init/language.html
    let i = 0;
    $(document).ready(function () {
        $('#gameTable').find('tr').each(function () {
            if( $(this).find('td').html().trim()=='') {
                $(this).remove();
            }
        })
    });
</script>
{% endblock %}
