<div class="d-inline-block{% if validate_button_class is defined %} w-100 m-0 p-0{% endif %}">
    <form method="post" action="{{ path('review_activate', {'id': review.id}) }}"
          onsubmit="return confirm('Item id : {{ review.id }}\nItem title : {{ review.title }}\nAre you sure you want to validate this item?');">

        {% for key, role in app.user.roles %}
            <input type="hidden" name="roles[{{ key }}]" value="{{ csrf_token(role) }}">
        {% endfor %}

        <input type="hidden" name="_method" value="POST">
        <input type="hidden" name="_token" value="{{ csrf_token('validate' ~ review.id) }}">
        <button class="btn btn-{{ review.validated ? 'warning' : 'info'}}  {{ validate_button_class|default('') }}">
            <i class="fa fa-{{ review.validated ? 'ban' :'check-square-o' }}"></i>
            {{ review.validated ? 'No validated ?' :'validated ?' }}
        </button>
    </form>
</div>
