<?xml
    version="1.0"
    encoding="UTF-8"
?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="shortcut icon" sizes="200x200" href="http://cv-boudaoud.biz.ht/images/cv-hb.ico" type="image/x-icon"/>
    <meta name="author" lang="fr" content="Housni BOUDAOUD">
    <meta name="robots" content="Housni, BOUDAOUD, hboudaoud, projets, projets-boudaoud, projets-hboudaoud"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <META HTTP-EQUIV="Pragma" CONTENT="cache">

    <!-- Auto-Reactualisation de la page -->
    <!--META HTTP-EQUIV="Refresh" CONTENT="1; URL=#"-->


    <!--  Browser color  --  Couleur du navigateur -->

    <!--  Chrome  -->
    <meta name="theme-color" content="rgb(5, 45, 49)"/>
    <!-- Chrome, Firfox et opera -->
    <meta name="apple-mobile-web-app-status-bar-style" content="rgb(5, 45, 49)"/>
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="rgb(5, 45, 49)"/>
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="rgb(5, 45, 49)">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister">


    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet"/>

    {#    <link rel="stylesheet" href="{{ asset('asset/css/bootstrap_4.1.3.css') }}"/>#}
    {#    <link rel="stylesheet" href="{{ asset('asset/css/bootstrap-4.3.1/bootstrap.css') }}"/>#}
    {#    <link rel="stylesheet" href="{{ asset('asset/css/font-awesome_5.14.0_static_All.css') }}"/>#}

    <link rel="stylesheet" href="{{ asset('asset/css/indexStylesheet.css') }}"/>
    {% block stylesheets %}{% endblock %}
</head>

<body>

<header class="fixed-top py-0 px-auto p-1 m-0 row">
    <div class="col-2 d-lg-none navbar navbar-dark my-0 mt-0 py-0 align-self-start">
        <button id="displayHeader"
                onclick="changeDisplayHeader()"
                class="navbar-toggler d-lg-none"
                data-toggle="collapse"
                data-target=".js-navHeader"
                aria-controls="navbarContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
            <i class="fas fa-level-down-alt"></i>
        </button>
    </div>
    <div class="col-10 col-lg-12 my-0 py-0">

        <div class="d-lg-none navbar navbar-dark my-0 p-1 w-100 justify-content-end js-navHeader">
            <button class="navbar-toggler mx-2" type="button"
                    data-toggle="collapse"
                    data-target="#navbarContent"
                    aria-controls="navbarContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                {#                                <span class="navbar-toggler-icon" style="color: white"></span>#}
                <i class="fas fa-bars"></i>
                Menu
            </button>
            <button class="navbar-toggler mx-2" type="button"
                    data-toggle="collapse"
                    data-target="#navbarConnextion"
                    aria-controls="navbarConnextion"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
                {% if app.user %}
                    <i class="fas fa-user-cog"></i><span id="user">{{ app.user.userName }}</span>
                {% else %}
                    <i class="fas fa-user-alt-slash"></i>
                {% endif %}
            </button>
        </div>
        <div class="d-lg-flex justify-content-between">
            <div class="order-lg-1 order-1 js-navHeader">
                <nav class=" navbar navbar-expand-lg navbar-dark bg-transparent my-0 py-0 mx-auto">
                    <div class="collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav mr-auto">

                            {% if not is_granted('ROLE_EMPLOYEE') %}
                                <li class="nav-item  mx-1 border active">
                                    <a class="nav-link" href="{{ path('home') }}">
                                        <i class="fas fa-home"></i>
                                        BoardGame <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item mx-1 border">
                                <div class="dropdown">
                                    <button class="btn btn-inverse dropdown-toggle" type="button"
                                            id="dropdownGamesList" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="far fa-list-alt"></i>
                                        Games
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownGamesList">
                                        <a class="dropdown-item" href="{{ path('game_index') }}">
                                            All <span class="sr-only">(current)</span>
                                        </a><a class="dropdown-item" href="{{ path('category_index') }}">
                                            By Categories <span class="sr-only">(current)</span>
                                        </a><a class="dropdown-item" href="{{ path('mechanic_index') }}">
                                            By mechanic <span class="sr-only">(current)</span>
                                        </a>
                                    </div>
                                </div>
                            </li>

                            {% if is_granted('ROLE_STOREKEEPER') %}
                                <li class="nav-item  mx-1 border active">
                                    <a class="nav-link" href="{{ path('category_index') }}">
                                        <i class="far fa-list-alt"></i>
                                        Categories <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item  mx-1 border active">
                                    <a class="nav-link" href="{{ path('mechanic_index') }}">
                                        <i class="far fa-list-alt"></i>
                                        Mechanics <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_EMPLOYEE') %}
                                <li class="nav-item mx-1 border">

                                    <div class="dropdown">
                                        <button class="btn btn-inverse dropdown-toggle" type="button"
                                                id="dropdownAdminButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            <i class="fa fa-cogs" aria-hidden="true"></i>
                                            Admin
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownAdminButton">

                                            {% if is_granted('ROLE_USER_MANAGER') or  is_granted('ROLE_STOREKEEPER')  %}
                                            <div class="dropdown-submenu dropright">
                                                <button class="dropdown-item dropdown-toggle d-flex"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">

                                                    <span class="mr-auto">
                                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                                        Add
                                                    </span>
                                                </button>
                                                <div class="dropdown-menu">
                                                    {% if is_granted('ROLE_USER_MANAGER') %}
                                                        <a class="dropdown-item" href="{{ path('user_new') }}"
                                                           title="Add new user">New user</a>

                                                    {% endif %}
                                                    {% if is_granted('ROLE_STOREKEEPER') %}
                                                        <a class="dropdown-item" href="{{ path('game_new') }}">
                                                            New game <span class="sr-only">(current)</span>
                                                        </a>
                                                        <a class="dropdown-item" href="{{ path('category_new') }}">
                                                            New Category <span class="sr-only">(current)</span>
                                                        </a>
                                                        <a class="dropdown-item" href="{{ path('mechanic_new') }}">
                                                            New mechanic <span class="sr-only">(current)</span>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if is_granted('ROLE_USER_MANAGER') %}
                                                <a class="dropdown-item" href="{{ path('user_index') }}">
                                                    <i class="fas fa-users"></i>
                                                    Users <span class="sr-only">(current)</span>
                                                </a>
                                            {% endif %}
                                            {% if is_granted('ROLE_MODERATOR') %}

                                                <div class="dropdown-submenu dropright w-100">
                                                    <button class="dropdown-item dropdown-toggle d-flex"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">

                                                    <span class="mr-auto">
                                                        <i class="fa fa-comments" aria-hidden="true"></i>
                                                        Reviews
                                                    </span>
                                                    </button>

                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="{{ path('review_newReviews') }}">
                                                            New reviews <span class="sr-only">(current)</span>
                                                        </a>
                                                        <a class="dropdown-item" href="{{ path('review_index') }}">
                                                            All reviews <span class="sr-only">(current)</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if is_granted('ROLE_OPERATOR') %}
                                                <a class="dropdown-item" href="#">
                                                    <i class="fa fa-cart-arrow-down"></i>
                                                    orders list <span class="sr-only">(current)</span>
                                                </a>
                                            {% endif %}
                                            {% if is_granted('OPERATOR') %}
                                                <a class="dropdown-item" href="#">
                                                    <i class="fa fa-shopping-cart"></i>
                                                    Carts <span class="sr-only">(current)</span>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endif %}

                        </ul>
                    </div>

                    {#                    <div class="d-inline-block  justify-content-between my-0 py-0 mx-auto">#}

                    {#                        <div class="collapse navbar-collapse my-0 py-0 mx-auto" id="navbarform">#}

                    {#                            <form class="form-inline my-2 my-lg-0">#}
                    {#                                <input class="form-control mr-sm-2" type="search" placeholder="Search"#}
                    {#                                       aria-label="Search">#}
                    {#                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
                    {#                            </form>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </nav>
            </div>

            <div class="p-0 order-lg-3 order-2 js-navHeader">
                <nav class=" navbar navbar-expand-lg navbar-dark bg-transparent my-0 mx-auto py-0">
                    <div class="collapse navbar-collapse" id="navbarConnextion">
                        <ul class="navbar-nav mr-auto">


                            {% if not app.user %}

                                <li id="cardButton" class="nav-item  mx-1 border active  d-none">
                                    <a class="nav-link" href="#" data-toggle="modal"
                                       data-target="#cardModalLong">
                                        <span class="badge badge-warning">
                                            <i class="fa fa-shopping-cart" aria-hidden="true">
                                                <span class="badge badge-warning js-nb-games"
                                                      id="right-cart-num"></span>
                                            </i>
                                        </span>
                                        Cart
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item mx-1 border">
                                <div class="dropdown">
                                    <button class="btn btn-inverse dropdown-toggle" type="button"
                                            id="dropdownAccountButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="fas fa-user"></i>
                                        {% if app.user %}
                                            <span class="badge badge-warning">
                                            <i class="fa fa-shopping-cart" aria-hidden="true">
                                                <span class="badge badge-warning js-nb-games"
                                                      id="right-cart-num"></span>
                                            </i>
                                        </span>

                                            {{ app.user.userName }}
                                        {% else %}
                                            Account
                                        {% endif %}

                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownAccountButton">
                                        {% if  app.user %}
                                            <a class="dropdown-item" href="{{ path('user_profile') }}">
                                                <i class="fa fa-info-circle"></i>
                                                Profile <span class="sr-only">(current)</span>
                                            </a>
                                            {% if app.user.reviews %}
                                                <a class="dropdown-item"
                                                   href="{{ path('review_byUser',
                                                       {'id':app.user.id,'username':app.user.username}
                                                   ) }}">
                                                    <i class="fa fa-comments-o" aria-hidden="true"></i>
{#                                                    <i class="fa fa-commenting"></i>#}
                                                    My reviews <span class="sr-only">(current)</span>
                                                    <span class="sr-only">(current)</span>
                                                </a>

                                            {% endif %}
                                            <hr/>
                                            <div id="cardButton" class="d-none">
                                                <a class="dropdown-item" href="#" data-toggle="modal"
                                                   data-target="#cardModalLong">
                                                    <span class="badge badge-warning">
                                                        <i class="fa fa-shopping-cart" aria-hidden="true">
                                                            <span class="badge badge-warning js-nb-games"
                                                                  id="right-cart-num"></span>
                                                        </i>
                                                    </span>
                                                    Cart
                                                </a>
                                            </div>
                                            <hr/>
                                            <a class="dropdown-item" href="{{ path('logout') }}">
                                                <i class="fas fa-user-lock"></i>
                                                Logout<span class="sr-only">(current)</span>
                                            </a>
                                        {% else %}
                                            <div>
                                                <a class="dropdown-item" href="{{ path('login') }}">
                                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                                    Login
                                                </a>
                                            </div>
                                            <div>
                                                <a class="dropdown-item" href="{{ path('user_new') }}">
                                                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                                                    Signup
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </nav>
            </div>

            {#      the title h1 of the view   #}
            <div class="align-items-center m-0 order-lg-2 order-3">
                <h1><small>{% block h1 %}{% endblock %}</small></h1>
            </div>
        </div>

    </div>

</header>
<section class="container-fluid p-0">

    {% block LayoutBody %}{% endblock %}

    <!-- Example Button trigger modal -->
    <!--button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
      Launch demo modal
    </button-->

    <!-- Modal -->
    <div id="cardModalLong" class="modal fade "
         tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true"
         style="min-width: 50% !important"
    >

        <div class="modal-dialog mw-100 mx-5 px-5" role="document">
            <form id="cartShopping"
                  action="{{ path('cart_index') }}"
                  method="post"
                    {#                  onsubmit="sessionStorage.clear();"#}
                  class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cart : <span class="js-nb-games">0</span> game(s)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-window-close text-danger" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="modal-body">
                    <div id="js-games-selected" class="container-fluid">

                    </div>
                </div>

                <div class="modal-footer">
                    <div class="w-100 row m-0 p-0">
                        <div class="col-4 m-0 p-0">Total</div>
                        <div class="col-3 m-0 p-0"> : $<span id="js-total-cart" class="ml-5">0</span></div>
                        <div class="col-5 m-0 p-0">
                            {% if app.user %}
                                <input type="hidden" id="cartShopping-userId" name="userId" value="{{ app.user.id }}"/>
                            {% endif %}
                            <button type="submit" class="btn btn-inverse"
                                    {% if not app.user %}disabled="disabled"{% endif %}
                            >
                                <i class="fa fa-credit-card-alt" aria-hidden="true"></i> buy
                            </button>
                            {% if app.user %}
                                <button type="button" class="btn btn-inverse"
                                        onclick="SaveCartGame()"
                                >
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <button type="button" class="btn btn-warning"
                            data-dismiss="modal" aria-label="Close"
                            onclick="SaveCartGame()"
                    >
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

</section>

<footer class="fixed-bottom">
    <div class="row">
        <div class="col-sm-4">
            <a
                    href="http://www.cv-boudaoud.biz.ht/"
                    target="_blank"
            >
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="1.5rem" height="1.5rem" viewBox="0 0 967.663 967.663"
                     style="enable-background:new 0 0 967.663 967.663;"
                     fill="white" xml:space="preserve">
<g>
    <path d="M163.807,872.604l106.154,26.773c1.463,0.369,2.959,0.557,4.446,0.557c7.972,0,14.917-5.125,17.285-12.752l61.703-198.766
		l30.76-220.104l0.178-0.701c4.174-16.548-5.895-33.405-22.442-37.58c-6.621-1.67-13.29-1.055-19.178,1.339
		c-8.828,3.587-15.898,11.177-18.402,21.104l-6.598,27.065l-6.499,26.657l-8.387,34.404l-9.557,39.197l-0.1,0.41l-0.287-0.186
		l-0.171-0.109v0.789l-12.698,50.344c-1.185,4.699-4.639,8.496-9.206,10.119c-1.58,0.561-3.221,0.836-4.853,0.836
		c-3.083,0-6.133-0.984-8.673-2.879c-2.284-1.705-22.327-17.279-22.642-38.947c-0.121-8.338,2.703-20.631,16.843-31.836
		c0.251-0.199,0.51-0.391,0.774-0.572l14.908-10.279l16.545-60.775c-16.742-3.686-45.997-9.133-72.62-9.133
		c-26.109,0-43.625,5.334-49.322,15.016c-3.544,6.025-11.965,33.475-13.618,157.955c-0.993,74.758,0.812,154.271,1.976,195.016
		C150.359,863.621,155.983,870.631,163.807,872.604z"/>
    <path d="M301.086,435.802c3.862-8.493,9.617-15.747,16.628-21.361c1.258-1.008,2.557-1.961,3.892-2.86
		c6.353-4.284,13.522-7.328,21.108-8.877v-12.262v-13.854V62.649c0-6.975,5.674-12.649,12.648-12.649h416.531
		c6.975,0,12.649,5.674,12.649,12.649v421.016h-73.707c-30.86,0-55.968,25.107-55.968,55.968v73.707H449.826h-16.352h-23.352
		h-21.653l-0.009,0.062l-1.778,12.424l-1.791,12.514l-3.578,25h6.043h283.067c16.581,0,32.79-6.752,44.472-18.523l101.471-102.264
		c11.723-11.814,18.178-27.486,18.178-44.127V62.649C834.543,28.104,806.438,0,771.894,0H355.363
		c-34.544,0-62.648,28.104-62.648,62.649V463.65l4.878-17.918C298.467,442.261,299.653,438.951,301.086,435.802z M704.87,583.936
		v-44.303c0-3.291,2.677-5.967,5.967-5.967h43.912L704.87,583.936z"/>
    <path d="M150.032,945.131l93.17,21.943c11.792,2.777,23.603-4.531,26.38-16.322l1.404-5.969c1.858-7.891-0.804-15.787-6.301-20.98
		c-2.716-2.568-6.122-4.48-10.022-5.398l-93.17-21.941c-2.301-0.543-4.601-0.695-6.836-0.512
		c-9.22,0.762-17.308,7.342-19.544,16.832l-1.405,5.969C130.932,930.543,138.24,942.354,150.032,945.131z"/>
    <path d="M456.672,130.21c4.967-3.545,11.254-5.268,19.223-5.268c6.461,0,11.486,1.417,15.358,4.331
		c3.923,2.953,7.112,8.22,9.482,15.653c1.983,6.223,8.431,9.87,14.775,8.371l17.906-4.219c3.336-0.786,6.203-2.907,7.93-5.867
		c1.728-2.96,2.164-6.499,1.207-9.79c-4.447-15.296-12.562-27.428-24.119-36.058c-11.539-8.615-25.726-12.983-42.166-12.983
		c-14.193,0-27.428,3.309-39.335,9.835c-12.278,6.728-21.853,16.665-28.458,29.535c-6.358,12.388-9.583,26.91-9.583,43.161
		c0,14.749,2.777,28.785,8.255,41.717c5.811,13.722,14.521,24.425,25.886,31.811c11.299,7.343,25.75,11.066,42.953,11.066
		c17.133,0,31.966-4.867,44.088-14.466c12.057-9.545,20.443-23.299,24.931-40.88c0.82-3.218,0.329-6.629-1.369-9.483
		c-1.698-2.854-4.462-4.914-7.682-5.728l-18.188-4.594c-3.286-0.829-6.771-0.29-9.65,1.498c-2.881,1.787-4.912,4.667-5.629,7.98
		c-1.884,8.714-5.288,15.17-10.119,19.188c-4.791,3.985-10.641,5.922-17.882,5.922c-6.124,0-11.656-1.533-16.913-4.688
		c-4.792-2.875-8.285-7.251-10.679-13.378c-2.821-7.22-4.252-15.987-4.252-26.06c0-7.661,1.229-15.197,3.658-22.4
		C448.335,138.386,451.726,133.739,456.672,130.21z"/>
    <path d="M647.927,249.161h18.656c5.145,0,9.764-3.152,11.64-7.942l53.812-137.438c1.507-3.848,1.016-8.19-1.313-11.603
		s-6.193-5.455-10.325-5.455h-18.562c-5.225,0-9.896,3.248-11.717,8.144l-32.636,87.771l-31.348-87.625
		c-1.778-4.972-6.489-8.29-11.771-8.29h-19.688c-4.124,0-7.982,2.034-10.312,5.436s-2.833,7.735-1.343,11.58l53.25,137.438
		C638.136,245.989,642.766,249.161,647.927,249.161z"/>
    <path d="M418.831,331.447h289.596c13.808,0,25-11.193,25-25c0-13.807-11.192-25-25-25H418.831c-13.808,0-25,11.193-25,25
		C393.831,320.254,405.023,331.447,418.831,331.447z"/>
    <path d="M413.758,421.074c1.638,0.338,3.334,0.517,5.073,0.517h7.954h281.642c13.808,0,25-11.193,25-25c0-13.808-11.192-25-25-25
		H418.831c-8.172,0-15.427,3.921-19.988,9.984c-2.541,3.377-4.24,7.421-4.802,11.82c-0.135,1.047-0.21,2.112-0.21,3.196
		C393.831,408.659,402.383,418.73,413.758,421.074z"/>
</g>
</svg>
                My CV

            </a>
        </div>
        <div class="col-sm-4">
            <a href="http://projets-boudaoud.biz.ht/" target="_blank">
                <i class="fa fa-cogs"></i>
                My projects
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                contact
            </a>
        </div>
    </div>
</footer>

<script src="https://kit.fontawesome.com/4f1b76d32c.js" crossorigin="anonymous"></script>


<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"
></script>


{#<script src="{{ asset('asset/js/fontawesome_5.14.0_All.js') }}"></script>#}
{#<script src="{{ asset('asset/js/jquery-3.4.1.js') }}"></script>#}
{#<script src="{{ asset('asset/js/npm_popper@1.16.0.js') }}"></script>#}
{#<script src="{{ asset('asset/js/ajax_libs_popper_1.12.9.js') }}"></script>#}
{#<script src="{{ asset('asset/js/bootstrap_4.4.1.js') }}"></script>#}


<script src="{{ asset('asset/js/indexScript.js') }}"></script>


{% block javascripts %}
{% endblock %}
</body>
</html>
