<?xml
    version="1.0"
    encoding="UTF-8"
?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="shortcut icon" sizes="200x200" href="http://cv-boudaoud.biz.ht/images/cv-hb.ico" type="image/x-icon"/>
    <meta name="author" lang="fr" content="Housni BOUDAOUD">
    <meta name="robots" content="Housni, BOUDAOUD, hboudaoud, projets, projets-boudaoud, projets-hboudaoud"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <META HTTP-EQUIV="Pragma" CONTENT="cache">

    <!-- Auto-Reactualisation de la page -->
    <!--META HTTP-EQUIV="Refresh" CONTENT="1; URL=#"-->


    <!--  Browser color  --  Couleur du navigateur -->

    <!--  Chrome  -->
    <meta name="theme-color" content="rgb(5, 45, 49)"/>
    <!-- Chrome, Firfox et opera -->
    <meta name="apple-mobile-web-app-status-bar-style" content="rgb(5, 45, 49)"/>
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="rgb(5, 45, 49)"/>
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="rgb(5, 45, 49)">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"/>

    {#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"#}
    {#          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"#}
    {#          crossorigin="anonymous"/>#}

    {#    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"#}
    {#          rel="stylesheet"/>#}
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister">


    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('asset/css/indexStylesheet.css') }}"/>
    {% block stylesheets %}{% endblock %}
</head>

<body>

<header class="fixed-top py-0 px-auto p-1 m-0 row">
    <div class="col-2 d-lg-none navbar navbar-dark my-0 mt-0 py-0 align-self-start">
        <button id="displayHeader"
                onclick="changeDisplayHeader()"
                class="navbar-toggler d-lg-none"
                data-toggle="collapse"
                data-target=".js-navHeader"
                aria-controls="navbarContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
            <i class="fas fa-level-up-alt rotate-90"></i>
        </button>
    </div>
    <div class="col-10 col-lg-12 my-0 py-0">

        <div class="d-lg-none navbar navbar-dark my-0 p-1 w-100 justify-content-end js-navHeader">
            <button class="navbar-toggler mx-2" type="button"
                    data-toggle="collapse"
                    data-target="#navbarContent"
                    aria-controls="navbarContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                {#                                <span class="navbar-toggler-icon" style="color: white"></span>#}
                <i class="fas fa-bars"></i>
                Menu
            </button>
            <button class="navbar-toggler mx-2" type="button"
                    data-toggle="collapse"
                    data-target="#navbarConnextion"
                    aria-controls="navbarConnextion"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
                {% if app.user %}
                    <i class="fas fa-user-cog"></i><span id="user">{{ app.user.userName }}</span>
                {% else %}
                    <i class="fas fa-user-alt-slash"></i>
                {% endif %}
            </button>
        </div>
        <div class="d-lg-flex justify-content-between">
            <div class="order-lg-1 order-1 js-navHeader">
                <nav class=" navbar navbar-expand-lg navbar-dark bg-transparent my-0 py-0 mx-auto ">
                    <div class="collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item  mx-1 border active">
                                <a class="nav-link" href="{{ path('home') }}">
                                    <i class="fas fa-home"></i>
                                    My store <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item mx-1 border">
                                <a class="nav-link" href="{{ path('game_index') }}">
                                    <i class="far fa-list-alt"></i>
                                    All games
                                </a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item mx-1 border">
                                    <a class="nav-link" href="{{ path('user_index') }}">
                                        <i class="far fa-list-alt"></i>
                                        All Users
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="d-inline-block  justify-content-between my-0 py-0 mx-auto">

                        <div class="collapse navbar-collapse my-0 py-0 mx-auto" id="navbarform">

                            {#            <form class="form-inline my-2 my-lg-0">#}
                            {#                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
                            {#                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
                            {#            </form>#}
                        </div>
                    </div>
                </nav>
            </div>

            <div class="p-0 order-lg-3 order-2 js-navHeader">
                <nav class=" navbar navbar-expand-lg navbar-dark bg-transparent my-0 mx-auto py-0">
                    <div class="collapse navbar-collapse" id="navbarConnextion">
                        <ul class="navbar-nav mr-auto">

                            <li id ="cardButton" class="nav-item  mx-1 border d-none">
                                <a class="nav-link" href="#" data-toggle="modal" data-target="#cardModalLong">
                                        <span class="badge badge-warning">
                                            <i class="fa fa-shopping-cart" aria-hidden="true">
                                                <span class="badge badge-warning js-nb-games"
                                                      id="right-cart-num"></span>
                                            </i>
                                        </span>
                                    Cart
                                </a>
                            </li>

                            {% if app.user %}
                                <li class="nav-item  mx-1 border active">
                                    <a class="nav-link"
                                       href="{{ path('user_profile') }}">
                                        <i class="fas fa-user"></i>
                                        {{ app.user.username }}
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item  mx-1 border ">
                                    <a class="nav-link" href="{{ path('logout') }}">
                                        <i class="fas fa-user-lock"></i>
                                        Logout
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item  mx-1 border ">
                                    <a class="nav-link" href="{{ path('login') }}">
                                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                        Login
                                    </a>
                                </li>
                                <li class="nav-item  mx-1 border ">
                                    <a class="nav-link" href="{{ path('user_new') }}">
                                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                                        Signup
                                    </a>
                                </li>
                            {% endif %}
                        </ul>

                    </div>
                </nav>
            </div>

            {#      the title h1 of the view   #}
            <div class="align-items-center m-0 order-lg-2 order-3">
                <h1><small>{% block h1 %}{% endblock %}</small></h1>
            </div>
        </div>

    </div>

</header>
<section class="container-fluid p-0">

    {% block LayoutBody %}{% endblock %}

    <!-- Example Button trigger modal -->
    <!--button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
      Launch demo modal
    </button-->

    <!-- Modal -->
    <div id="cardModalLong" class="modal fade "
         tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true"
         style="min-width: 50% !important"
    >
        <div class="modal-dialog mw-100 mx-5 px-5" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cart : <span class="js-nb-games">0</span> game(s)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-window-close text-danger" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="modal-body">
                    <div id="js-games-selected" class="container-fluid">

                    </div>
                </div>

                <div class="modal-footer">
                    <div class="w-100 row m-0 p-0">
                        <div class="col-4 m-0 p-0">Total</div>
                        <div class="col-3 m-0 p-0"> : $<span id="js-total-cart" class="ml-5">0</span></div>
                        <div class="col-5 m-0 p-0">
                            <button type="button" class="btn btn-inverse">
                                <i class="fa fa-">buy</i>
                            </button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>

<footer>
    footer
</footer>

<script src="https://kit.fontawesome.com/4f1b76d32c.js" crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"
></script>
<script src="{{ asset('asset/js/indexScript.js') }}"
></script>


{% block javascripts %}
{% endblock %}
</body>
</html>
