{% extends 'base.html.twig' %}

{% block title %}CustomerAddress{% endblock %}

{% block body %}
    <h1>CustomerAddress</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customer_address.id }}</td>
            </tr>
            <tr>
                <th>DeliveryAt</th>
                <td>{{ customer_address.deliveryAt }}</td>
            </tr>
            <tr>
                <th>StreetAddress</th>
                <td>{{ customer_address.streetAddress }}</td>
            </tr>
            <tr>
                <th>StreetAddressLine2</th>
                <td>{{ customer_address.streetAddressLine2 }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ customer_address.city }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ customer_address.state }}</td>
            </tr>
            <tr>
                <th>Postal</th>
                <td>{{ customer_address.postal }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ customer_address.country }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('customer_address_index') }}">back to list</a>

    <a href="{{ path('customer_address_edit', {'id': customer_address.id}) }}">edit</a>

    {{ include('customer_address/_delete_form.html.twig') }}
{% endblock %}
